@import url('https://fonts.cdnfonts.com/css/magic-school-one');

ul {
    width: 100%;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px;
    backdrop-filter: blur(10px);
    background: #474747;
}

.index {
    background-image: url(../images/index-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.titre {
    font-family: 'Magic School two', sans-serif;
    font-size: 150px;
    text-align: center;
    color: #ffffff;
    animation: titre 2s ease-in-out infinite alternate;
}

@keyframes titre {
    0% { color: #d6d6d6
        ; }
    100% { color: #474747; }
}