@import url('https://fonts.cdnfonts.com/css/magic-school-one');

.text {
    font-family: 'Magic School two', sans-serif;
}

.topnav {
    width: 100%;
    box-sizing: border-box;
    background: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.index {
    background-image: url("../static/index-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.commentaires {
    background-image: url("../static/commentaires-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.apropos {
    background-image: url("../static/apropos-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.titre {
    font-size: 150px;
    text-align: center;
    color: #ffffff;
    animation: titre 2s ease-in-out infinite alternate;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
}

@keyframes titre {
    0% { color: #d6d6d6; }
    100% { color: #474747; }
}

.answer {
    border:1px solid #ddd;
	width:700px;
	padding:5px;
	margin-bottom:10px;
    position: absolute;
    left: 75%;
    top: 85%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 140, 0, 0.4);
}

.answer .comment-input {
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.comment-input {
    width: 95%;
    height: 40px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.save-btn {
    margin-top:10px;
    left: 50%;
    transform: translate(40%);
}

.save {
    width: 100px;
    height: 30px;
    background: black;
    border: 5px indianred;
    font: 1.5em "Magic School two", sans-serif;
    color: white;
}
