{% extends 'base.html' %}
{% block contenu %}
    <title>{% block titre %} À propos {% endblock %}</title>
    {% block classe %} apropos {% endblock %}

    <h1 class="titre text">À propos</h1>
    <div class="information">
        <p>
            Plongez dans un monde mystérieux où l'obscurité règne en maître, et où l'inconnu se cache derrière chaque coin.
            <b>Run Like Hell</b> est un passionnant jeu de plateforme en 2D qui fusionne l'exploration, l'action et l'énigme 
            pour créer une expérience immersive et inoubliable.
        </p>
        <p>
            Dans <b>Run Like Hell</b>, vous incarnez <strong>Cornilius</strong>, un héros courageux, qui se lance dans une quête pour
            lever le voile sur un ancien mystère. Le jeu se déroule dans un monde en proie au chaos, où les forces des ténèbres ont envahi chaque recoin, 
            transformant ce qui était autrefois un lieu paisible en un endroit sinistre et inhospitalier.
        </p>
        <p>
            Au fil de votre aventure, vous acquerrez de nouvelles capacités et pouvoirs, qui vous permettront d'accéder à des zones autrefois inaccessibles, 
            de résoudre des énigmes complexes et d'affronter des ennemis redoutables. Le jeu encourage l'exploration, la découverte de secrets cachés et 
            la progression non linéaire à travers un vaste monde interconnecté.
        </p>
        <p>
            <b>Run Like Hell</b> offre une expérience visuelle époustouflante, avec des décors magnifiques et une direction artistique immersive 
            qui vous plongera dans l'atmosphère envoûtante du jeu. L'histoire captivante se dévoile progressivement à travers des rencontres intrigantes 
            et des cinématiques soigneusement conçues, offrant aux joueurs une expérience riche en narration.
        </p>
        <p>
            Préparez-vous à relever des défis passionnants, à découvrir des secrets enfouis depuis longtemps et à plonger dans un univers sombre et envoûtant. 
            <b>Run Like Hell</b> promet une aventure metroidvania inoubliable qui vous tiendra en haleine jusqu'à la toute fin.
        </p>
        <p>
            Préparez-vous à plonger dans les ténèbres et à briser le voile de l'inconnu. Votre aventure commence ici.
        </p>
    </div>
{% endblock %}