{% extends 'base.html' %}
{% block contenu %}
    <script src="{{ url_for('static', filename='page-contact.js')}}"></script>
    <title>{% block titre %} Contact {% endblock %}</title>

    <h1 class="titre text">Contact</h1>
    <div class="contacter">
        <p><b>Run Like Hell</b> est un jeu de plateforme de type metroidvania en 2D développé par l'équipe 3 du cours de 
            conception d'applications du cégep du Vieux-Montréal.Les membres de l'équipe 3 sont <b>Richard Vong</b>, 
            <b>Juliette Vincent</b>, <b>Christopher Perreault</b>, <b>Eric El-Chabab</b>, <b>Paul Agudze</b> et 
            <b>Aurélien Eloy</b>. Le jeu est développé en javascript et flask est utilisé pour la communication avec le serveur.
        </p>
        <p>Pour tout commentaire ou question, n'hésitez pas à nous écrire !</p>

        <div class="email">
            <div class="email-icon"></div>
            <a href="mailto:e.rvong@etu.cvm.qc.ca">Richard Vong</a>
        </div>
        <div class="email">
            <div class="email-icon"></div>
            <a href="mailto:e.jvincent3@etu.cvm.qc.ca">Juliette Vincent</a>
        </div>
        <div class="email">
            <div class="email-icon"></div>
            <a href="mailto:e.cperrealt3@etu.cvm.qc.ca">Christopher Perreault</a>
        </div>
        <div class="email">
            <div class="email-icon"></div>
            <a href="mailto:e.eelchabab@etu.cvm.qc.ca">Eric El-Chabab</a>
        </div>
        <div class="email">
            <div class="email-icon"></div>
            <a href="mailto:e.pagudze@etu.cvm.qc.ca">Paul Agudze</a>
        </div>
        <div class="email">
            <div class="email-icon"></div>
            <a href="mailto:e.aeloy2@etu.cvm.qc.ca">Aurélien Eloy</a>
        </div>
    </div>

{% endblock %}